:root {
  --text-color: rgb(20, 20, 20);
  --border-color: black;
  --title-color: rgb(60, 60, 60);
  --done-color: rgb(200, 200, 200);
  --background-color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 0;
  align-content: center;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.3rem;
  font-size: 24px;

  background-color: var(--background-color);
  color: var(--text-color);
}
